@font-face {
  font-family: 'Mochiy Pop One';
  src: url('./assets/fonts/MochiyPopOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #e1e6f0;
  position: relative; /* .App 요소를 상대적인 위치로 설정 */
  margin: 0 auto;
}

.nav {
  display: flex;
  font-size: 21px;
  font-family: Mochiy Pop One;
  justify-content: flex-start; /* 왼쪽 정렬 */
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  width: 30%; /* 너비를 100%로 설정 */
  box-sizing: border-box; /* 패딩과 너비를 함께 고려 */
  position: fixed; /* .nav 요소를 고정 위치로 설정 */
  top: 0; /* 맨 위에 고정 */
  color: #857cc9;
}

.nav span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav img {
  margin-right: 5px;
}

.App-logo {
  height: 5%;
}
